.nftBody{
    height:100vh ;
    background-color: blue;
   
}


.rowNft{

    height: 100%;
   
    /* center a div inside a div */
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}

.nftContainer{
    width: calc((100% - 1.5rem) / 2);
    background-color: bisque;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subNft h1{
    text-align: center;
}
.subNft p{
    text-align: center;
}


.imageContainer{
    height: 300px;
    
}

.nft{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nftDescription {
    width: calc((100% - 1.5rem) / 1);
    background-color: rgb(125, 206, 101);
}

.descriptionBorder{
    height: 83vh;
    background-color: chocolate;
    margin: 9vh;
}