.wrapper {
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgb(179, 179, 179);
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}

#active:checked ~ .wrapper {
  clip-path: circle(75%)
}

.menu-btn {
  position: absolute;
  right:20px;
  top: 20px;
  z-index: 2;
  text-align: center;
  line-height: 50px;
  height: 50x;
  width: 50px;
  border-radius: 50%;
  

}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  
}
.wrapper ul li {
   color:rgb(255, 202, 55)
}





/* hamburger nav */